<div class='table'>
  <div class='date-axis'>
    <% 13.times do |num| %>
      <% if num == 0 %>
        <div class='cell'>
          <%= @str %>
        </div>
      <% else %>
        <div class='cell'>
          <%= num + 9 %>:00
        </div>
      <% end %>
    <% end %>
  </div>

  <% 4.times do |num| %>
    <div class='name-axis'>
      <div class='cell'>
        user<%= num + 1 %>
      </div>
      <div class='worktime'>
        <% 12.times do |num| %>
          <div class='worktime-cell'>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
