.wrapper.git-lessons-show
  .float-menu-component
    .float-menu-component__menu-icon
    .float-menu-component__goal-btn
  .main-nodetree-area
    .github-repository
      .github-repository__repository-name
    .local-repository
      .local-repository__repository-name
  .quiz-select-area
    %ul.quiz-select-lists
      %li.quiz-select-lists__btn
      %li.quiz-select-lists__btn
      %li.quiz-select-lists__btn
      %li.quiz-select-lists__btn
  .under-guide-area
    .lesson-information
      .lesson-information__lesson-number
      .lesson-information__reset-btn
    .lesson-message-area
      .lesson-message-area__message