.table {
  border: 1px solid;
  border-bottom: none;
  .date-axis {
    display: flex;
    border-bottom: 1px solid;
    @include time-cell()
  }
  .name-axis {
    display: flex;
    border-bottom: 1px solid;
    @include cell();
    .worktime {
      width: $attendance-time;
      display: flex;
      .worktime-cell {
        width: $attendance-time-cell;
        height: 20px;
        background: blue;
      }
    }
  }
}
