body{
  width:100%;
}
section{
  width:90%;
  margin:0 auto;
}
section h1{
  margin:50px 0;
}
td{
  background:#ced9f2;
}
tr:nth-child(odd) td{
  background: #eff2f7;
}
tr td:nth-of-type(1){
  text-align: left;
  background:white;
}
table td, th{
  text-align: center;
  border:1px solid #dee2e6; 
}
.blue{
  background:#4372de!important;
  border:1px solid #4372de;
  border-bottom:1px solid #dee2e6; 
}
.hidden{
  display: none;
}