$red: rgb(156,64,48);
$blue: rgb(0, 48, 108);
$light-blue: rgb(20, 63, 117);
$aqua: rgb(84, 138, 169);
$gray: rgb(74,77,86);
$light-gray: rgb(130,129,124);
$black: rgb(33, 33, 33);
$white: white;

$bw: 2px // git_lessons/show画面のボーダーの幅