.shift_api_create_page{
  width: 90%;
  margin: 0 auto;
  
  .page_title{
    margin: 50px 0;
    font-size: 24px;
  }
  .shift-tables{
    .shift-table{
      @include shift_table_style();
    }
  }
}