@mixin cell() {
  .cell {
    border-right: 1px solid;
    width: calc(100% / 13);
  }
}
@mixin time-cell {
  .time-cell {
    width: calc(100% / 13);
    border-right: 1px solid;
    text-align: center;
  }
}
